/* Globals
--------------------------------- */
:root {
	/* Colors */
	--color_1: #2E9AFE; /* blue */
	--color_2: #F79F81; /* salmon */
	--color_3: #848484; /* dark gray */
	--color_4: #E6E6E6; /* light gray */

	--black: #000000; /* was --color_6 */ /* black */
	--black_alpha: rgba(0,0,0,0.95); /* was --color_6_alpha */
	
	--white: #FFFFFF; /* was --base_color */
	--white_alpha: rgba(255,255,255,0.95); /* was --base_color_alpha */

	/* Fonts */
	--h1: 42px;
	--h2: 28px;
	--p: 14px;

	--family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif; /* was --base_font */

	/* Borders */
	--radius_6: 6px; /* was --border_radius */

	/* Effects */
	--animation_10: 1.0s; /* was --transition */

	--transition_05: all ease-in-out .5s; /* was --transition */
}



/* General
--------------------------------- */
html {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	overscroll-behavior: contain;
	white-space: nowrap;
}

body {
	font-size: var(--p);
	font-family: var(--family);
	color: var(--color_3);

	line-height: 24px; 
	max-width: 80%;
	height: 100%;
	overflow: auto;
	margin: auto;
	padding: 30px;
	white-space: normal;
}

h1 {
	font-size: var(--h1);
	color: var(--color_1);

	margin-bottom: 0px;
}

p {
	font-size: var(--p);
	color: var(--color_3);

	margin-bottom: 40px;
}



/* Portfolio container
--------------------------------- */
.portfolio {
	color: var(--color_3);
	position: relative;
}

	/* Portfolio h2 */
	.portfolio h2 {
		font-size: var(--h2);
	}

	/* Grid thumbnails */
	.portfolio .grid {
		background-color: var(--color_4);
		border-radius: var(--radius_6);

		max-width: 100%;
		margin: 0px auto; /* X px, %, etc from the top and centered */
		padding: 30px;
		padding-top: 10px;
	}

		/* Preload Thumbnail alt state image */
		/*.portfolio .grid_thb_hvr_preload_img {
	
		}*/

		/* Grid album (.bb-row) */
		.portfolio .grid .bb-row {
			margin-bottom: 60px;
		}

		/* Grid album (.bb-col) */
		.portfolio .grid .bb-col h3 {
			margin-left: 10px;
			margin-bottom: 10px;
		}

		/* Grid album (.bb-rest) */
		.portfolio .grid .bb-rest {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
		}

			/* Grid album (.bb-rest) thb */
			.portfolio .grid .bb-rest .thb {
				color: #FFFFFF;
				background-color: var(--color_1);
				border-radius: var(--radius_6);
				transition: var(--transition_05);

				border: none;
				width: 50px;
				height: 30px;
				margin: 10px;
				cursor: pointer;
			}

				@media (hover: hover), (-ms-high-contrast:none) {
					.portfolio .grid .bb-rest .thb:hover {
						background-color: var(--color_2);
					}
				}

				.portfolio .grid .bb-rest .thb.active {
					background-color: var(--color_3);

					cursor: default;
				}



	/* Modal */
	.portfolio .modal {
		background-color: var(--white_alpha);
		animation: fade_in_modal var(--animation_10);

		z-index: 1001;
		display: none; /* Hidden by default */ 
		position: fixed; /* Stay in place */  
		left: 0px; /* Position left */ 
		top: 0px; /* Position left */
		width: 100%; /* Full width */ 
		height: 100%; /* Full height */
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
	}

		@keyframes fade_in_modal { from { opacity: 0 } to { opacity: 1 } }

	/* Progress */
	.portfolio .progress {
		background-color: var(--color_4);

		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 3px;
		overflow: visible;
	}	

		/* progress bar */
		.portfolio .progress_bar {
			border-right: 4px solid var(--black);
			background-color: var(--color_1);
			transition: var(--transition_05);

			text-align: right;
			width: 1%;
			height: 4px;
			overflow: visible;
		}

		/* progress bar span: this span holds the text percentage, below it adds a lil padding to the rt and lt side of that text */
		.portfolio .progress_bar span {
			color: var(--color_1);

			font-size: 12px;
			line-height: 30px;
			padding-left: 6px;
			padding-right: 16px;
		}

		

	/* Modal Content */
	.portfolio .modal_content {
		transition: var(--transition_05);

		position: relative;
		margin: 20px auto; /* X px, %, etc from the top and centered */
		outline: 0px;
		width: fit-content;
		max-width: 90%;
	}

		/* Gallery Title (h2), Album Name (h3) // Can be modified/order-swapped in the css/html markup, but the actual h2 and h3 tags are hard-coded in the class as of now */
		.portfolio .title {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-left: 30px;
			margin-right: 30px;
		}

			.portfolio .title h2 {
				text-transform: capitalize;
				margin-right: 20px;
			}

			.portfolio .title h3 {
				color: var(--color_1);
				margin-left: 20px;
			}

		/* Portfolio .slideshow allows options/caption x/y positoning in relation to image */
		.portfolio .slideshow {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
			position: relative;
			overflow: hidden;
			margin: 0px auto; /* X px, %, etc from the top and centered */
			width: fit-content;
			max-width: 1400px;
		}

			@media (hover: hover), (-ms-high-contrast:none) {
				.portfolio .slideshow:hover .menu {
					top: 0px;
					opacity: 80%;
				}
			}

			/* Slideshow Menu */
			.portfolio .menu {
				transition: var(--transition_05);

				z-index: 1003;
				display: flex;
				flex-direction: column;
				position: absolute;
				top: -150px;
				width: 100%;
				opacity: 50%;
			}

				.portfolio .menu.active {
					top: 0px;
					opacity: 90%;	
				}

				.portfolio .menu_bg {
					background-color: var(--white_alpha);
					border-bottom-left-radius: var(--radius_6);
					border-bottom-right-radius: var(--radius_6);

					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
				}

				.portfolio .menu_close {
					background-color: var(--white_alpha);
					border-bottom-left-radius: var(--radius_6);
					border-bottom-right-radius: var(--radius_6);
					border: 0.5px solid var(--color_4);

					font-size: 12px;
					line-height: 22px;
					text-align: center;
					height: 20px;
					width: 60px;
					margin: 0px auto; /* X px, %, etc from the top and centered */
					border-top: none;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
					cursor: pointer;
				}

					@media (hover: hover), (-ms-high-contrast:none) {
						.portfolio .menu_close {
							display: none;
						}
					}

					/* Options */
					.portfolio .options {
						display: flex;
						flex-wrap: nowrap;
						flex-direction: row;
  						justify-content: space-evenly;
  						align-items: baseline;
						line-height: 28px;
						margin: 14px;
					}

						/* Image Counter display stats/fractions */
						.portfolio .counter {
							font-size: 12px;
						}

						/* Buttons (except for the buttons used in pagination which are styled separately) */
						.portfolio .appearance_btn,
						.portfolio .caption_btn,
						.portfolio .close_btn,
						.portfolio .download_btn,
						.portfolio .fscreen_btn,
						.portfolio .fwindow_btn, 
						.portfolio .pause_btn,
						.portfolio .dropdown_btn {
							color: var(--color_1);
							transition: var(--transition_05);

							font-size: 22px;
							background-color: transparent;
							border: none;
							cursor: pointer;
						}

							@media (hover: hover), (-ms-high-contrast:none) {
								.portfolio .appearance_btn:hover,
								.portfolio .caption_btn:hover,
								.portfolio .close_btn:hover,
								.portfolio .download_btn:hover,
								.portfolio .fscreen_btn:hover,
								.portfolio .fwindow_btn:hover,
								.portfolio .pause_btn:hover,
								.portfolio .album_navigation:hover .dropdown_btn {
									color: var(--color_2);
								}
							}

							.portfolio .appearance_btn.active,
							.portfolio .caption_btn.active,
							.portfolio .download_btn.active,
							.portfolio .fscreen_btn.active,
							.portfolio .fwindow_btn.active,
							.portfolio .pause_btn.active {
								color: var(--color_2);
							}

						/* Album Navigation */
						.portfolio .album_navigation {
							position: relative;
							display: inline-block;
						}

							.portfolio .album_navigation:hover .dropdown_content {
								display: block;
							}

							.portfolio .dropdown_content {
								background-color: var(--color_4);
								border-radius: var(--radius_6);
								animation: fade_in_dropdown_content var(--animation_10);

								z-index: 1004;
								display: none;
								position: absolute;
								top: 16px;
								right: 4px;
								min-width: 160px;
								border-top-right-radius: 0px;
								box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
							}

								@keyframes fade_in_dropdown_content { from { opacity: 0 } to { opacity: 1 } }

								.portfolio .dropdown_content button {
									color: var(--color_1);
									transition: var(--transition_05);

									display: block;
									font-size: 14px;
									text-align: left;
									text-decoration: none;
									border: none;
									background-color: transparent;
									cursor: pointer;
									margin: 0px;
									padding: 12px 16px;
									width: 100%;
								}

									@media (hover: hover), (-ms-high-contrast:none) {
										.portfolio .dropdown_content button:hover { 
											color: var(--white);
											background-color: var(--color_2);
										}

										.portfolio .dropdown_content button:hover:first-of-type {
											border-radius: var(--radius_6);

											border-top-right-radius: 0px;
											border-bottom-left-radius: 0px;
											border-bottom-right-radius: 0px;
										}

										.portfolio .dropdown_content button:hover:last-of-type {
											border-radius: var(--radius_6);

											border-top-left-radius: 0px;
											border-top-right-radius: 0px;
										}
									}

									.portfolio .dropdown_content button.active {
										color: var(--color_2);
									}

					/* Divider */
					.portfolio hr {
						border: 0;
						border-top: 1px dashed var(--color_3);

						margin: 0px;
						padding: 0px;
						width: 100%;		
					}

					/* Pagination */
					.portfolio .pagination {
						display: flex;
						flex-wrap: nowrap;
						flex-direction: row;
			  			justify-content: space-evenly;
			  			align-items: center;
			  			line-height: 28px;
						margin: 20px 0px;
					}

						/* First, Last, Next, Previous */
						.portfolio .first_btn, .portfolio .last_btn, .portfolio .next_btn, .portfolio .previous_btn {
							color: var(--color_3);
							transition: var(--transition_05);

							text-align: center;
							border: 0;
							background-color: transparent;
							width: 20px;
							height: 20px;
							margin-left: 6px;
							margin-right: 6px;
							padding: 0;
							cursor: default;
						}

							@media (hover: hover), (-ms-high-contrast:none) {
								.portfolio .first_btn:hover, .portfolio .last_btn:hover, .portfolio .next_btn:hover, .portfolio .previous_btn:hover {
									color: var(--color_1);
								}
							}

						.portfolio .first_btn, .portfolio .last_btn {
							font-size: 20px;
							line-height: 18px;
						}

						.portfolio .next_btn, .portfolio .previous_btn {
							font-size: 24px;
							line-height: 18px;
						}

						/* Scroll thumbs container */
						.portfolio .scroll {
							width: 100%;
							max-width: 48%;
							overflow-x: auto;
							overflow-y: hidden;
							overscroll-behavior: contain;
							white-space: nowrap;
							margin-left: 16px;
							margin-right: 16px;
						}

							/* Hide scrollbar for Chrome, Safari and Opera */
							.portfolio .scroll::-webkit-scrollbar {
								display: none;
							}

							/* Hide scrollbar for IE, Edge and Firefox */
							.portfolio .scroll {
								-ms-overflow-style: none;  /* IE and Edge */
								scrollbar-width: none;  /* Firefox */
							}

							/* Scroll thumbs thb */
							.portfolio .scroll .thb {
								color: var(--white);
								border-radius: var(--radius_6);
								background-color: var(--color_1);
								transition: var(--transition_05);

								display: inline-block;
								font-size: 14px;
								text-align: center;
								border: 0;
								width: 40px;
								height: 40px;
								margin-left: 10px;
								margin-right: 10px;
								padding: 6px;
								cursor: pointer;
							}

								@media (hover: hover), (-ms-high-contrast:none) {
									.portfolio .scroll .thb:hover {
										background-color: var(--color_2);
									}
								}

								.portfolio .scroll .thb.active {
									background-color: var(--color_3);

									cursor: default;
								}


			/* Portfolio images container */
			.portfolio .images {
				border-radius: var(--radius_6);

				width: 100%;
				height: 100%;
				overflow: hidden;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
			}

				/* Portfolio .images img tag */
				.portfolio .images img {
					border-radius: var(--radius_6);
					animation: fade_in_img var(--animation_10);

					display: block;
					width: 100%;
					height: 100%;
				}

					@keyframes fade_in_img { from { opacity: 0 } to { opacity: 1 } }

			/* Caption container */
			.portfolio .caption {
				color: var(--color_6);
				background-color: var(--white_alpha);
				border-radius: var(--radius_6);
				transition: var(--transition_05);

				z-index: 1002;
				position: absolute;
				text-align: left;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				line-height: 22px;
				max-width: 1340px;
				max-height: 60px;
				margin: 30px;
				padding: 14px 20px;
				overflow-x: hidden;
				overflow-y: auto;
				overscroll-behavior: contain;
				opacity: 0%;
				border: 4px solid var(--white_alpha);
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
			}

				.portfolio .caption.active {
					opacity: 90%;
				}



/* @media mods
--------------------------------- */
@media only screen and (max-width: 600px) {

	h1 {
		font-size: 36px;
	}

	p {
		font-size: 26px;
		line-height: 42px;
	}

	.portfolio h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.portfolio .grid {
		padding: 10px;

		/*padding: 10px;
		width: 300px;
		max-width: 94%;*/
	}

		/* Grid album (.bb-col) */
		.portfolio .grid .bb-col h3 {
			margin-left: 20px;
		}

		.portfolio .grid .bb-rest {
				justify-content: center;
			}

	.portfolio .title {
		flex-direction: column;
		justify-content: center;
	}
		.portfolio .title h2 {
			margin: 0px;
			margin-bottom: 20px;
		}

		.portfolio .title h3 {
			margin: 0px;
			margin-bottom: 20px;
		}

	@media (hover: hover), (-ms-high-contrast:none) {
		.portfolio .slideshow:hover .menu {
			top: 0px;
			opacity: 100%;
		}
	}

	.portfolio .menu {
		visibility: visible;
		position: relative;
		margin-bottom: 0px;
		top: 0px;
		opacity: 100%;
	}

	.portfolio .menu_bg {
		background-color: rgba(255,255,255,0.0);
		box-shadow: none;
	}

	.portfolio .menu_close {
		display: none;
	}

	/* Options */
	/*.portfolio .options {
		justify-content: space-between;
	}*/

	/* Buttons (except for the buttons used in pagination which are styled separately) */
	.portfolio .appearance_btn,
	.portfolio .caption_btn,
	.portfolio .close_btn,
	.portfolio .download_btn,
	.portfolio .fscreen_btn,
	.portfolio .fwindow_btn, 
	.portfolio .pause_btn,
	.portfolio .dropdown_btn {
		font-size: 16px;
		padding: 10px;
	}

	.portfolio .counter {
		position: absolute;
		top: 76px;
		left:0px;
		right:0px;
		width: 60px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	/* Pagination */
	.portfolio .pagination {
		/*justify-content: space-between;*/
		padding-left: 12px;
		padding-right: 12px;
	}

	.portfolio .previous_btn {
		margin-right: 40px;
	}

	.portfolio .next_btn {
		margin-left: 40px;
	}

	.portfolio .scroll {
		display: none;
	}

	.portfolio .caption {
		position: relative;
		font-size: 10px;
		line-height: 18px;
		border: none;
		max-height: 100%;
		margin: 10px;
		margin-top: 10px;
		padding: 14px 10px;
		margin-left: 0px;
		margin-right: 0px;
		background-color: rgba(255,255,255,0.0);
		box-shadow: none;
	}

}



@media only screen and (max-width: 800px) {
	.portfolio .modal_content {
		max-width: 70%;
	}

	.portfolio .menu {
		visibility: visible;
	}

	.portfolio .title h2 {
		font-size: 16px;
		margin-bottom: 4px;
	}

	.portfolio .title h3 {
		font-size: 12px;
		margin-bottom: 4px;
	}

	.portfolio .menu {
		visibility: visible;
	}

	/* Buttons (except for the buttons used in pagination which are styled separately) */
	.portfolio .appearance_btn,
	.portfolio .caption_btn,
	.portfolio .close_btn,
	.portfolio .download_btn,
	.portfolio .fscreen_btn,
	.portfolio .fwindow_btn, 
	.portfolio .pause_btn,
	.portfolio .dropdown_btn {
		padding: 6px;
	}

	.portfolio .pagination {
		bottom: 0px;
	}

	.portfolio .fscreen_btn {
		display: none;
	}

	.portfolio .fwindow_btn {
		display: none;
	}

}



/*@media only screen and (min-width: 900px) {
	.portfolio .menu {
		top: -60px;
	}
}*/


